/* ALIASES: Amplitude fonts */
@font-face {
    font-family: "fal";
    src: local('Amplitude-Light'), local('Amplitude Light'), url('/Melify/fonts/amplitude/Amplitude-Light.ttf');
}

@font-face {
    font-family: "far";
    src: local('Amplitude-Regular'), local('Amplitude Regular'), url('/Melify/fonts/amplitude/Amplitude-Regular.ttf');
}

@font-face {
    font-family: "fam";
    src: local('Amplitude-Medium'), local('Amplitude Medium'), url('/Melify/fonts/amplitude/Amplitude-Medium.ttf');
}

@font-face {
    font-family: "fab";
    src: local('Amplitude-bold'), local('Amplitude bold'), url('/Melify/fonts/amplitude/Amplitude-Bold.ttf');
}

/* ALIASES: Roboto fonts */
@font-face {
    font-family: "frl";
    src: local('Robotto-Light'), local('Robotto Light'), url('/Melify/fonts/roboto/Roboto-Light.ttf');
}

@font-face {
    font-family: "frr";
    src: local('Robotto-Regular'), local('Robotto Regular'), url('/Melify/fonts/roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: "frm";
    src: local('Robotto-Medium'), local('Robotto Medium'), url('/Melify/fonts/roboto/Roboto-Medium.ttf');
}

@font-face {
    font-family: "frb";
    src: local('Robotto-Bold'), local('Robotto Bold'), url('/Melify/fonts/roboto/Roboto-Black.ttf');
}

@font-face {
    font-family: 'icomoon';
    src: local('Icomoon'), url('/Melify/fonts/icomoon/gim-icomoon.ttf');
}
