@import "../../index.css";

wc-panels {
    display: block!important;
    background: #F7F7F7!important;
}

#panel-1, #panel-2 {
    /* display: block!important; */
}

.panels-container {
    border: 1px red solid;
    height: 400px;
}

.hex-bars:hover {
    cursor: pointer;
    color: steelblue;
}




