@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import "../../index.css";

wc-tabs {
    border: 10px lime solid;
}

wc-tabs .page-container {
    background:red!important;
    min-height:500px;
}

