tk-debug #container {
    position:fixed;
    top:0;
    left:50%;
    z-index:1000;
}

tk-debug #container #content {
    overflow:hidden;
    display:none;
    padding:3px;
    width:200px;
    height:70px;
    background:brown;
    color:#FFF;
}

tk-debug #container #handle {
    position:relative;
    z-index:1000;
    background:brown;
    text-align:center;
    padding-left:15px;
    padding-right:15px;
    width:50px;
    color:white;
    border-left:1px indianred solid;
    border-right:1px indianred solid;
    border-bottom:1px indianred solid;
}

tk-debug #container #handle:hover {
    background:indianred;
    color:yellow;
}

tk-debug #container .bullet {
    cursor:pointer;
    margin-top:7px;
    width:35px;
    height:35px;
    text-align:center;
    margin-left:10px;
    background:wheat;
    float:left;
    padding:10px;
    border:1px #ebebeb #ebebeb;
    color:#000;
}

.tk-debug {
    margin-top:5px;
    margin-bottom:5px;
    padding:10px;
    clear:both;
    background:seashell;
    border:1px #CCC solid;
}
