.tk-bugger {
    display:none;
    padding:5px;
    margin:5px;
    background:seashell;
    border: 1px gold dashed;
    border-radius:2px;
    position:relative;
    z-index:1;
}

.tk-bugger pre {
    background:seashell!important;
    border: 1px #FFF solid;
    border-radius:0px;
}

