button, input, select, textarea {    
    border-radius:2px!important;
}

pre {
    font-size: 10px!important;
    margin: 0!important;
    border:0!important;
    border-radius:0!important;
    box-shadow: 0!important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #cecece!important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #cecece!important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #cecece!important;
}
:-moz-placeholder { /* Firefox 18- */
  color: #cecece!important;
}
