/***************************************************
TITLE:		Mel M. Heravi
AUTHOR: 	www.Melify.com
****************************************************/

.tk-label {
    color:#666;
    font-weight:bold;
}

.tk-text {
    padding:5px;
    background:#f7f7f7;
    border:1px #cecece solid;
}

.tk-text:focus {
    padding:5px;
    background:#FFF;
}

.tk-select {
    background: transparent;
    font-size: 12px;
    border: 1px solid #CCC;
    height: 22px;
    width:100%;
}

.tk-normal {
    font-size: 100%;
}

.tk-border {
    border:1px #CCC solid;
}

.tk-rounded {
    -moz-border-radius-topleft:3px;
    -moz-border-radius-topright:3px;
    -moz-border-radius-bottomright:3px;
    -moz-border-radius-bottomleft:3px;

    border-top-left-radius:3px;
    border-top-right-radius:3px	;
    border-bottom-right-radius:3px;
    border-bottom-left-radius:3px;
}

.tk-button {
    background:steelblue;
    color:#FFFFFF;
    border:0px transparent solid;
    padding:5px;
    padding-left:10px;
    padding-right:10px;
}

.tk-button:hover {
}

.tk-button.cancel {
    background:indianred;
}

.tk-button.cancel:hover {
    background:brown;
}

#tk-footer {
    text-align:center;
    color:#999;
}

#tk-footer #inside {
    padding-bottom:5px;
    text-align:center;
}

.tk-error {
    color:red;
    font-style:italic;
    font-size:12px;
    font-weight:bold;
    background:seashell;
    margin-top:10px;
    padding:5px;
    width:100%;
    text-align:center;
}

.tk-error h1 {
    color:brown;
}

.tk-debug {
    display:none;
}

.tk-link {
    cursor:pointer;
}

.tk-hoverable {
    opacity:0.9;
    filter:alpha(opacity=90);
}

.tk-hoverable:hover {
    opacity:1.0;
    filter:alpha(opacity=100);
}

.tk-clickable {
    color:steelblue;
    cursor:pointer;
}

.tk-clickable:hover {
    color:slategray;
}

#tk-messages {
    position:absolute;
    top:0;
    left:0;
    background:yellow;
    width:100%;
    display:none;
    padding:30px;
}

.tk-form {
    border:1px #CCC solid;
    background:#FFF;
    padding:3px;
}

.tk-form:focus {
    border:1px steelblue solid;
    background:#FFF;
}

.tk-small {
    font-size:10px;
}

.tk-chevron-right:before {
    content: "\BB ";
    color:#999 !important;
}

.tk-chevron-left:before {
    content: "\AB ";
}

.tk-odd {
    background:#f9f9f9;
}

.tk-even {
    background:#FFFFEE;
}

.tk-center {
    display:table-cell;
    text-align:center;
    vertical-align:middle;
}

.tk-blur {
    color: transparent;
    text-shadow: #6374AB 0px 0px 3px;
}
