@font-face {
  font-family: "Roboto";
  src: url("/GitHub/fonts/apache/roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Oswald";
  src: url("/GitHub/fonts/ofl/oswald/Oswald-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Oswald-light";
  src: url("/GitHub/fonts/ofl/oswald/Oswald-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Oswald-bold";
  src: url("/GitHub/fonts/ofl/oswald/Oswald-Bold.ttf") format("truetype");
}
.font-oswald {
  font-family: Oswald;
}
.font-oswald-bold {
  font-family: Oswald-bold;
}
.font-oswald-light {
  font-family: Oswald-light;
}
.font-roboto {
  font-family: Roboto;
}
button,
input,
select,
textarea {
  border-radius: 2px!important;
}
.btn-wide {
  min-width: 120px;
}
label {
  font-weight: 400!important;
}
pre {
  font-size: 10px!important;
  margin: 0!important;
  border: 0!important;
  border-radius: 0!important;
  box-shadow: 0!important;
}
/* INPUT TEXT PLACEHOLDER */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #cecece!important;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #cecece!important;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #cecece!important;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #cecece!important;
}
.panel {
  border-radius: 2px!important;
  border: 1px #ebebeb solid!important;
}
.panel.panel-default .panel-heading,
.panel.panel-default .panel-footer {
  background: transparent!important;
}
.panel.panel-default .panel-heading {
  border-radius: 2px!important;
  font-family: Oswald!important;
  border-bottom: 1px #ebebeb solid!important;
}
.panel.panel-default .panel-footer {
  font-family: Oswald-light !important;
  border: 0!important;
  border-top: 1px #ebebeb solid!important;
  outline: none!important;
}
