.oswald {
  font-family: Oswald;
}
.oswald-bold {
  font-family: Oswald-bold;
}
.oswald-light {
  font-family: Oswald-light;
}
button,
input,
select,
textarea {
  border-radius: 2px!important;
}
.btn-wide {
  min-width: 120px;
}
label {
  font-weight: 400!important;
}
pre {
  font-size: 10px!important;
  margin: 0!important;
  border: 0!important;
  border-radius: 0!important;
  box-shadow: 0!important;
}
/* INPUT TEXT PLACEHOLDER */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #cecece!important;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #cecece!important;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #cecece!important;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #cecece!important;
}
.panel {
  border-radius: 2px!important;
  border: 1px #ebebeb solid!important;
}
.panel.panel-default .panel-heading,
.panel.panel-default .panel-footer {
  background: transparent!important;
}
.panel.panel-default .panel-heading {
  border-radius: 2px!important;
  font-family: Oswald!important;
  border-bottom: 1px #ebebeb solid!important;
}
.panel.panel-default .panel-footer {
  font-family: Oswald-light !important;
  border: 0!important;
  border-top: 1px #ebebeb solid!important;
  outline: none!important;
}
