@font-face {
    font-family: 'fl';
    src: local('Roboto'), local('Roboto-Light'), url(./fonts/Roboto-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'fr';
    src: local('Roboto'), local('Roboto-Regular'), url(./fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'fm';
    src: local('Roboto'), local('Roboto-Medium'), url(./fonts/Roboto-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'fb';
    src: local('Roboto'), local('Roboto-Bold'), url(./fonts/Roboto-Bold.ttf) format('truetype');
}
